root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.neon]
indent_style = tab

[*.{yml,yaml,json,ini,xml,xsd}]
max_line_length = off
indent_size = 2

[*.{js,ts,package.json,.travis.yml}]
indent_size = 2

[Dockerfile.*]
indent_size = 2
