IndexIgnore *.stub.php composer.* php*.xml grumphp.* phpstan.* doctum.php docker-compose.yml /trash /vendor /assets /cache /resources /scripts /tests /src /bin /docker /adminer /.devcontainer setup.sh setup.bat /.stub favicon.ico *.md
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
