IndexIgnore *.stub.php composer.* php*.xml grumphp.* phpstan.* config.php docker-compose.yml /trash /vendor /assets /cache /resources /scripts /tests /src /bin /docker /adminer /_devcontainer setup.sh setup.bat /.stub
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
