parameters:
	phpVersion: 80120 # PHP 8.1
	level: 4
	treatPhpDocTypesAsCertain: false
	paths:
		- src/
		- tests/
	excludePaths:
		- samples/
	ignoreErrors:
		- '#^Unsafe usage of new static#'
		- '#Call to an undefined static method GenericDatabase\\Connection::new\(\)#'
		- '#Function ibase_prepare invoked with 2 parameters, 3 required#'
		- '#Function set_message not found#'
		- '#Function check_params not found#'
		- '#Function vsprintf_assoc not found#'
		- '#Function load_env_file not found#'
		- '#Instantiated class i18n not found#'
		- '#Call to method getLabel\(\) on an unknown class i18n#'
		- '#Call to static method getLoadedVariables\(\) on an unknown class Autoloader#'
		- '#Call to static method loadFromArray\(\) on an unknown class Autoloader#'