parameters:
	phpVersion: 80120 # PHP 8.1
	level: 4
	treatPhpDocTypesAsCertain: false
	paths:
		- src/
		- tests/
	excludePaths:
		- samples/
	ignoreErrors:
		- "#^Unsafe usage of new static#"
